<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.e_readerfinalproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EReaderFinalProject"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <activity
            android:name=".ui.activity.ReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.MoreSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.HtmlViewActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.EbookReader" />

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:theme="@style/Theme.EbookReader" />

        <activity
            android:name=".ui.activity.BookMarkActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.longluo.viewer.DocumentActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name="com.longluo.viewer.OutlineActivity"
            android:launchMode="singleInstance" />

        <!-- Android 11 软件包可见性适配：https://www.jianshu.com/p/d1ccd425c4ce -->
        <queries>


            <!-- 调起分享意图：Intent.ACTION_SEND -->
            <intent>
                <action android:name="android.intent.action.SEND" />
            </intent>

            <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
            <intent>
                <action android:name="android.intent.action.VIEW" />
            </intent>

            <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
            <intent>
                <action android:name="android.intent.action.GET_CONTENT" />
            </intent>
        </queries>
        <activity
            android:name=".ViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EbookOpener"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Navigation3Fragment"
            android:exported="false"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation1Fragment"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>